* {
  font-family: "Georgia", 'Times', serif;
}
h1 {
  font-weight: bolder;
  background-color:MidnightBlue;
  text-shadow: 2px 2px #2F4F4F;
}
p {
  font-weight: lighter;
}

p {
  text-align: justify;
}
body {
  background-color: CornflowerBlue;
}
