#Limit
   {
   background-color: #F00;
   width: 400px;
   margin-right: auto;
   margin-left: auto;
   }

#pic {
    content: "";
      background: transparent url(/home/user/Documents/Github/poster-mess-50x40.jpg) scroll no-repeat 0 0;
      background-size: cover;
      width: 150px;
      height: 180px;
      position: absolute;
      top:30px;
      display: block;
      left: 67em;
      border-radius: 15px;
   }