body {
    width: 85em;
    margin-right: auto;
    margin-left: auto;
    color: saddlebrown;
    background-color: lightgoldenrodyellow;
    border: 15px solid rebeccapurple;
    height: 700px;
    max-height: 700px;
}

ul {
    list-style-type: none;
}

img {
    position: relative;
    width: 175px;
    height: 175px;
    max-height: 200px;
    max-width: 200px;
}

.lit {
    bottom: 200px;
    width: 175px;
    height: 175px;
    position: relative;
}

#listmenu {
    position: relative;
    left: -35px;
}

#infos {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top: 525px;
    position: relative;
    width: 1155px;
    height: 150px;
    border: 15px solid darkmagenta;
    left: 180px;
    min-height: 150px;
    min-width: 1155px;
    max-height: 150px;
    max-width: 1155px;
    overflow: scroll;
}